html {
    background-color: #01AAEB;
    text-align: center;
}
h1 {
    color: white;
    text-align: center;
}
ul li{
    display: inline;
    margin: 25px;
  }
nav {
    text-align: center;

}

h2 { margin-top: 50px; }
h2 {margin-bottom: 50px;}

p {
    margin-bottom: 50px;
    margin-top: 50px;
}